<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!-- Fuentes de Google Fonts -->
<link href="//fonts.googleapis.com/css?family=Lobster:400" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
<!-- Fin Fuentes de Google Fonts -->

<!-- Hack Para Desplegar el Menú activando un checkbox -->
<input type="checkbox" class="checkbox" id="menu-toogle"/>
<label for="menu-toogle" class="menu-toogle"></label>
<nav class="navmio">
  <a *ngIf="this._authService.esAdmin" (click)="navigateTo('/medicalCenter')"  class="navmio__item" style="color: white; cursor: pointer">Centro Médico</a>
  <a *ngIf="this._authService.esAdmin" (click)="navigateTo('/doctor')" class="navmio__item" style="color: white; cursor: pointer">Personal</a>
  <a (click)="navigateTo('/patient')" class="navmio__item" style="color: white; cursor: pointer">Pacientes</a>
  <a (click)="navigateTo('/consultationRecordatorio')" class="navmio__item" style="color: white; cursor: pointer">Recordatorio de Consultas</a>
  <a (click)="navigateTo('/consultation')" class="navmio__item" style="color: white; cursor: pointer">Bitácora de Consultas</a>
  <a *ngIf="this._authService.esAdmin" (click)="navigateTo('/imagesIshihara')" class="navmio__item" style="color: white; cursor: pointer"> Ishihara</a>
  <a *ngIf="this._authService.esAdmin" (click)="navigateTo('/user')" class="navmio__item current" style="color: white; cursor: pointer">Usuarios</a>
  <a (click)="navigateTo('/profile')" class="navmio__item " style="color: white; cursor: pointer">Mi perfil</a>
  <a (click)="navigateTo('/login')" class="navmio__item" style="color: white; cursor: pointer">Cerrar Sesión</a>
</nav>

<main class="main-w">
  <body>


  <div style="display: flex; flex-direction: row-reverse">
    <div style="justify-content: flex-end; padding-right: 20px;
  padding-top: 5px;  font-family:Lobster; font-size: 20px">
      <img src="assets/img/user.png" alt="" height="20">
      {{_authService.userName}}</div>
  </div>


  <div class="containerR">
    <div class="containerC" >
      <h1 *ngIf="patient!=null" class="header-w__title">Historia clínica: {{patient.name}}</h1>

      <h4 *ngIf="patient!=null">  {{patient.identification}} </h4>
    </div>

    <div class="containerC" >
      <div class="containerCbutton header-w__titlenofont" >

       <a title="Crear un nuevo registro en la historia clínica"
          (click)="navigateTo('/medicalRecord/patient/'+patientId+'/new')"  style="cursor: pointer;margin-right: 30px">
          <button  type="button" class="btn btn-dark">Nuevo Registro</button>
        </a>

        <input type="input" class="form-control"
               id="buscar"
               name="buscar"
               title="Escriba lo que desea buscar"
               placeholder="Buscar..."
               required
               style="margin-right: 10px"
        >
<!--        <input *ngIf="this._authService.esSuperAdmin" type="input" class="form-control"-->
<!--               id="buscar"-->
<!--               name="buscar"-->
<!--               title="Escriba lo que desea buscar"-->
<!--               placeholder="Buscar..."-->
<!--               required-->
<!--               [(ngModel)]="buscar"-->
<!--               (change)="printear()"-->
<!--               style="margin-right: 10px"-->
<!--        >-->
        <a title="Presione aquí o la tecla ENTER para buscar"  style="cursor: pointer">
<!--        <a title="Presione aquí o la tecla ENTER para buscar" *ngIf="this._authService.esSuperAdmin" (click)="printear()" style="cursor: pointer">-->
          <img src="assets/img/buscar.png" height="30" width="30" >
        </a>


      </div>
    </div>

  </div>
  <br>

  <!--    &lt;!&ndash;-->
  <div class="padding">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Código</th>
        <th scope="col">Fecha</th>
        <th scope="col">Edad</th>
        <th scope="col">Pruebas realizadas</th>
        <th scope="col">Motivo</th>
        <th scope="col">Indicaciones</th>
        <th scope="col">Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let register of arrayOfMedicalRecords">
        <th scope="row">HC{{register.id}}</th>
        <td>{{register.date}}</td>
        <td>{{register.age}} años</td>
        <td>{{register.testIshihara.length}} Ishihara y {{register.testFarnsworthMunsell.length}} Farnsworth
          <a title="Agregar prueba a la historia clínica"
             (click)="navigateTo('/tests/'+register.id)" style="cursor: pointer">
            <img src="assets/img/tests.png" height="25" width="25" style="margin-left: 10px">
          </a>
        </td>
        <td>{{register.reason}}</td>
        <td>{{register.indications}}</td>

        <td>
<!--          <a href="http://localhost:4200/medicalRecord/view/{{register.id}}">-->
            <a title="Ver la historia clínica con los resultados de las pruebas realizadas"
               (click)="navigateTo('/medicalRecord/view/'+register.id)" style="cursor: pointer">
            <img src="assets/img/ver.png" height="22" width="22" style="margin-right: 10px">
          </a>

<!--          http://localhost:4200/medicalRecord/patient/1/edit/1-->
<!--          <a href="http://localhost:4200/medicalRecord/patient/{{patientId}}/edit/{{register.id}}">-->
          <a title="Editar los datos del formulario de la historía clínica" (click)="navigateTo('/medicalRecord/patient/'+patientId+'/edit/'+register.id)" style="cursor: pointer">
            <img src="assets/img/dibujar.png" height="20" width="20" style="margin-right: 10px">
          </a>

<!--          <a href="http://localhost:4200/medicalRecord">-->
            <img title="Eliminar este registro de la historía clínica"
                 src="assets/img/eliminar.png" height="20" width="20" >
<!--          </a>-->

        </td>
      </tr>
      <!--
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
              -->
      </tbody>
    </table>
  </div>
  <!--    &ndash;&gt;-->


  </body>
</main>

