<!--&lt;!&ndash;<p>patient-edit-route works!</p>&ndash;&gt;-->
<!--<div *ngIf="mostrarFormulario">-->
<!--<app-formulario-crear-paciente-->
<!--  [identificationInput]="patient.identification"-->
<!--  [nameInput]="patient.name"-->
<!--  [genderInput]="patient.gender"-->
<!--  [phoneInput]="patient.phone"-->
<!--  [emailInput]="patient.email"-->
<!--  [addressInput]="patient.address"-->
<!--  [occupationInput]="patient.occupation"-->
<!--  [date_of_birthInput]="patient.date_of_birth"-->
<!--  [statusInput]="patient.status"-->
<!--  [mostrarFormularioInput]="mostrarFormulario"-->
<!--  (informacionValidada)="editPatient($event)"-->
<!--&gt;-->
<!--</app-formulario-crear-paciente>-->
<!--</div>-->




<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<link href="//fonts.googleapis.com/css?family=Lobster:400" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>


<input type="checkbox" class="checkbox" id="menu-toogle"/>
<label for="menu-toogle" class="menu-toogle"></label>
<nav class="navmio">
  <a *ngIf="this._authService.esAdmin" (click)="navigateTo('/medicalCenter')"  class="navmio__item" style="color: white; cursor: pointer">Centro Médico</a>
  <a *ngIf="this._authService.esAdmin" (click)="navigateTo('/doctor')" class="navmio__item" style="color: white; cursor: pointer">Personal</a>
  <a (click)="navigateTo('/patient')" class="navmio__item" style="color: white; cursor: pointer">Pacientes</a>
  <a (click)="navigateTo('/consultationRecordatorio')" class="navmio__item" style="color: white; cursor: pointer">Recordatorio de Consultas</a>
<a (click)="navigateTo('/consultation')" class="navmio__item" style="color: white; cursor: pointer">Bitácora de Consultas</a>
  <a *ngIf="this._authService.esAdmin" (click)="navigateTo('/imagesIshihara')" class="navmio__item" style="color: white; cursor: pointer"> Ishihara</a>
  <a *ngIf="this._authService.esAdmin" (click)="navigateTo('/user')" class="navmio__item current" style="color: white; cursor: pointer">Usuarios</a>
  <a (click)="navigateTo('/profile')" class="navmio__item " style="color: white; cursor: pointer">Mi perfil</a>
  <a (click)="navigateTo('/login')" class="navmio__item" style="color: white; cursor: pointer">Cerrar Sesión</a>
</nav>

<main class="main-w">
  <body>

  <div style="display: flex; flex-direction: row-reverse">
    <div style="justify-content: flex-end; padding-right: 20px;
  padding-top: 5px;  font-family:Lobster; font-size: 20px">
      <img src="assets/img/user.png" alt="" height="20">
      {{_authService.userName}}</div>
  </div>

  <!--  <div class="containerC">-->
  <!--    <h1 class="header-w__title">Datos del paciente</h1>-->
  <!--    <br>-->
  <!--  </div>-->

  <div class="containerR">
    <div class="containerC" >
      <h1 class="header-w__title">Editar datos del paciente</h1>
    </div>

<!--    <div class="containerC" >-->
<!--      <div class="containerCbutton header-w__titlenofont" >-->
<!--        &lt;!&ndash;        <a href="http://localhost:4200/medicalRecord/patient/{{patient.id}}">&ndash;&gt;-->
<!--        <a (click)="navigateTo('/medicalRecord/patient/'+patient.id)" style="cursor: pointer">-->
<!--          <button  type="button" class="btn btn-primary" style="width: 10vw">Historia Clínica</button>-->
<!--        </a>-->

<!--        &lt;!&ndash;  </div>&ndash;&gt;-->
<!--      </div>-->
<!--    </div>-->


  </div>


  <br>

  <form #formularioPatient="ngForm" >
    <div class="containerR">
      <div class="containerC">
        <div class="form-group">

          <label for="identificacion" >Identificación</label>
          <input class="form-control"
                 title="Modifique el número del documento de identificación del paciente"
                 id="identificacion"
                 type="text"
                 placeholder="Identificación"
                 name="identificaction"
                 required
                 [(ngModel)]="identification"
                 minlength="5"
                 maxlength="24"
                 #identificationCampo = "ngModel"
          >
          <div *ngIf="identificationCampo.touched && identificationCampo.errors" style="color: red">
            <p *ngIf="identificationCampo.errors.required"> Campo requerido</p>
            <p *ngIf="identificationCampo.errors.minlength"> Longitud mínima 5</p>
          </div>


          <br>
          <label for="Nombre" >Nombre</label>
          <input class="form-control"
                 id="Nombre"
                 title="Modifique el nombre del paciente"
                 type="text"
                 placeholder="Nombre"
                 name="nombre"
                 required
                 minlength="2"
                 maxlength="124"
                 [(ngModel)]="name"
                 #nombreCampo="ngModel"
          >
          <div *ngIf="nombreCampo.touched && nombreCampo.errors" style="color: red">
            <p *ngIf="nombreCampo.errors.required">Campo requerido</p>
            <p *ngIf="nombreCampo.errors.minlength"> Longitud mínima 2</p>
          </div>

          <br>
          <label for="gender" >Género</label>
          <input class="form-control"
                 id="gender"
                 title="Modifique el género del paciente"
                 type="text"
                 placeholder="Género"
                 name="gender"
                 [(ngModel)]="gender"
                 minlength="1"
                 maxlength="44"
                 #generoCampo = "ngModel"
          >
          <div *ngIf="generoCampo.touched && generoCampo.errors" style="color: red">
            <p *ngIf="generoCampo.errors.required">Campo requerido</p>
            <p *ngIf="generoCampo.errors.minlength"> Longitud mínima 1</p>
          </div>

          <br>
          <label for="phone" >Teléfono</label>
          <input class="form-control"
                 id="phone"
                 maxlength="24"
                 minlength="2"
                 title="Modifique el teléfono del paciente"
                 type="text"
                 placeholder="Teléfono"
                 name="phone"
                 [(ngModel)]="phone"
                 #phoneCampo="ngModel"
          >
          <div *ngIf="phoneCampo.touched && phoneCampo.errors" style="color: red">
            <!--            <p *ngIf="phoneCampo.errors.required">Error: Campo requerido</p>-->
            <p *ngIf="phoneCampo.errors.minlength"> Longitud mínima 2</p>
          </div>

          <br>
          <label for="date_of_birth" >Fecha de nacimiento</label>
          <input type="date" class="form-control"
                 id="date_of_birth"
                 title="Modifique la fecha de nacimiento del paciente"
                 name="date_of_birth-start"
                 placeholder="DD/MM/YYYY"
                 [(ngModel)]="date_of_birth"
                 #birthDateCampo="ngModel"
                 maxlength="10"
          >
          <div *ngIf="birthDateCampo.touched && birthDateCampo.errors" style="color: red">
            <p *ngIf="birthDateCampo.errors.required"> Campo requerido</p>
            <!--            <p *ngIf="phoneCampo.errors.minlength">Error: Longitud mínima 2</p>-->
          </div>



        </div>

      </div>

      <div class="containerC">
        <div class="form-group">

          <label for="email" >Correo electrónico</label>
          <input type="email"
                 title="Modifique la dirección de correo electrónico del paciente"
                 class="form-control"
                 id="email"
                 placeholder="name@example.com"
                 name="email"
                 maxlength="256"
                 email
                 [(ngModel)]="email"
                 #emailCampo="ngModel"
          >
          <div *ngIf="emailCampo.touched && emailCampo.errors" style="color: red">
            <p *ngIf="emailCampo.errors.required"> Campo requerido</p>
            <p *ngIf="emailCampo.invalid">Ingrese una dirección de correo válida</p>
          </div>

          <br>
          <label for="occupation" >Ocupación</label>
          <input class="form-control"
                 title="Modifique la ocupación del paciente"
                 id="occupation"
                 type="text"
                 placeholder="Ocupación"
                 name="position"
                 maxlength="32"
                 [(ngModel)]="occupation"
          >

          <br>
          <label for="address" >Dirección</label>
          <input class="form-control"
                 title="Modifique la dirección del paciente"
                 id="address"
                 type="text"
                 placeholder="Dirección"
                 name="address"
                 [(ngModel)]="address"
                 maxlength="32"
          >


          <!--          <div >-->
          <!--            <br>-->
          <!--            <label for="medicalCenter">Centro Médico</label>-->
          <!--            <select class="form-control" id="medicalCenter" name="medicalCenter"  required>-->
          <!--              <option *ngFor="let medicalCenter of arrayOfMedicalCenters"-->
          <!--                      value="{{medicalCenter.id}}">{{medicalCenter.name}}</option>-->
          <!--            </select>-->
          <!--          </div>-->

                    <br>
                    <label for="status" >Estado</label>
                    <select title="Actualice el estado del paciente en el sistema"
                            class="form-control" id="status" name="status" [(ngModel)]="status" required >
                      <option value="true">Habilitado</option>
                      <option value="false">Deshabilitado</option>
                    </select>

        </div>

      </div>
    </div>

    <br>
    <div class="containerC">
      <div class="containerR">

        <!--        <a href="http://localhost:4200/patient">-->
        <a title="Cancelar los cambios realizados y regresar a la pantalla de Pacientes sin modificar"
           (click)="navigateTo('/patient')" style="cursor: pointer">
          <button type="button" class="btn btn-danger" style="margin-right: 2vw">Cancelar</button>
        </a>

        <!--        <a href="http://localhost:4200/patient/edit/{{patient.id}}">-->
        <a title="Guardar los cambios realizados" (click)="editarPaciente()" style="cursor: pointer">
          <button type="button" class="btn btn-dark">Guardar</button>
        </a>
        <!--        <button type="submit" class="btn btn-dark" [disabled]="!formularioPatient.form.valid">Guardar</button>-->

      </div>
    </div>

  </form>

  <br>

  </body>
</main>

