<div class="body"></div>
<!--<div class="grad"></div>-->
<div class="header">
  <!--  <div><span>Sion</span>Dal</div>-->
  <img src="assets/img/logotesis.png" height="170" >
  <!--  width="30"-->
</div>
<br>


<div>

  <form #formularioPasswordReset="ngForm" >
    <div class="login" >
      <div class="form-group">
        <label>Ingrese su nueva contraseña y la confirmación de la misma:</label>
        <input class="form-control"
               type="password"
               pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
               placeholder="Ingrese su constraseña"
               name="password"
               [(ngModel)]="password"
               minlength="8"
               maxlength="128"
               style="font-size: 18px"
               #passwordCampo="ngModel"
        >
        <!--             pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z]{8,}$/"-->
        <div *ngIf="passwordCampo.touched && passwordCampo.errors" style="color: red">
          <!--            <p *ngIf="passwordConfirmacionCampo.errors.required"> Campo requerido</p>-->
          <!--            <p *ngIf="passwordConfirmacionCampo.errors.minlength"> Longitud mínima 8</p>-->
          <p *ngIf="passwordCampo.errors">La contraseña debe tener mínimo 8 caracteres e incluir letras minúsculas, mayúsculas y números</p>

        </div>

        <input class="form-control"
               type="password"
               placeholder="Repita su contraseña"
               name="password"
               [(ngModel)]="passwordConfirmacion"
               required
               minlength="8"
               maxlength="128"
               style="font-size: 18px"
               #passwordCampo2="ngModel"
        >

        <div *ngIf="mensajeMostrar" style="color: red">
          <p>Ambos campos deben estar llenos</p>
        </div>
        <div *ngIf="mensaje2Mostrar" style="color: red">
          <p>La contraseña debe tener mínimo 8 caracteres
            e incluir letras minúsculas, mayúsculas y números</p>
        </div>

      </div>
      <br>

      <div *ngIf="!passwordCampo.errors && !passwordCampo2.errors">
          <input type="button" value="Continuar" (click)="updatePassword()" style="font-size: 18px" >
      </div>
      <input type="button" value="Cancelar" (click)="navigateTo('profile')" style="font-size: 18px">

    </div>

  </form>

</div>
