<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!-- Fuentes de Google Fonts -->
<link href="//fonts.googleapis.com/css?family=Lobster:400" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
<!-- Fin Fuentes de Google Fonts -->

<!-- Hack Para Desplegar el Menú activando un checkbox -->
<input type="checkbox" class="checkbox" id="menu-toogle"/>
<label for="menu-toogle" class="menu-toogle"></label>
<nav class="navmio">
  <a *ngIf="this._authService.esAdmin" (click)="navigateTo('/medicalCenter')"  class="navmio__item" style="color: white; cursor: pointer">Centro Médico</a>
  <a *ngIf="this._authService.esAdmin" (click)="navigateTo('/doctor')" class="navmio__item" style="color: white; cursor: pointer">Personal</a>
  <a (click)="navigateTo('/patient')" class="navmio__item" style="color: white; cursor: pointer">Pacientes</a>
  <a (click)="navigateTo('/consultationRecordatorio')" class="navmio__item" style="color: white; cursor: pointer">Recordatorio de Consultas</a>
<a (click)="navigateTo('/consultation')" class="navmio__item" style="color: white; cursor: pointer">Bitácora de Consultas</a>
  <a *ngIf="this._authService.esAdmin" (click)="navigateTo('/imagesIshihara')" class="navmio__item" style="color: white; cursor: pointer"> Ishihara</a>
  <a *ngIf="this._authService.esAdmin" (click)="navigateTo('/user')" class="navmio__item current" style="color: white; cursor: pointer">Usuarios</a>
  <a (click)="navigateTo('/profile')" class="navmio__item " style="color: white; cursor: pointer">Mi perfil</a>
  <a (click)="navigateTo('/login')" class="navmio__item" style="color: white; cursor: pointer">Cerrar Sesión</a>
</nav>

<main class="main-w">
  <body>

  <div style="display: flex; flex-direction: row-reverse">
    <div style="justify-content: flex-end; padding-right: 20px;
  padding-top: 5px;  font-family:Lobster; font-size: 20px">
      <img src="assets/img/user.png" alt="" height="20">
      {{_authService.userName}}</div>
  </div>


  <div class="containerC">
    <!--  <header class="header-w">-->
    <!--    <section class="header-w__description">-->
    <h1 class="header-w__title">Información del doctor</h1>
    <br>
    <!--        </section>-->
    <!--  </header>-->
  </div>



  <form>
    <div class="containerR">
      <div class="containerC">
        <!--      <p>{{doctor?.id}}</p>-->
        <!--      <p>{{doctor?.name}}</p>-->
        <!--      <p>{{doctor?.identification}}</p>-->
        <div class="form-group">

          <label for="identificacion">Identificación</label>
          <input class="form-control"  id="identificacion" type="text" placeholder="Identificación" value="{{doctor.identification}}" disabled>

          <br>
          <label for="Nombre">Nombre</label>
          <input class="form-control"  id="Nombre" type="text" placeholder="Nombre" value="{{doctor.name}}" disabled>

          <br>
          <label for="phone">Teléfono</label>
          <input class="form-control"  id="phone" type="text" placeholder="Teléfono" value="{{doctor.phone}}" disabled>

          <br>
          <label for="Cargo">Cargo</label>
          <input class="form-control"  id="Cargo" type="text" placeholder="Cargo" value="{{doctor.position}}" disabled>

        </div>

      </div>
      <div class="containerC">
        <div class="form-group">

          <label for="email">Correo electrónico</label>
          <input type="email" class="form-control" id="email" placeholder="name@example.com" value="{{doctor.email}}" disabled>

          <!--          <br>-->
          <!--          <label for="password">Contraseña temporal</label>-->
          <!--          <input class="form-control"  id="password" type="password" placeholder="Contraseña temporal">-->

          <br>
          <label for="rol">Rol</label>
          <select class="form-control" id="rol"  value="{{doctor.rol}}" disabled>
            <option>Personal</option>
            <option>Administrador</option>
            <option>SuperAdministrador</option>
          </select>

          <div *ngIf="this._authService.esSuperAdmin">
          <br>
          <label for="medicalCenter">Centro Médico</label>
          <input type="medicalCenter" class="form-control" id="medicalCenter"
                 placeholder="Centro Médico" value="{{doctor.medicalCenter.name}}" disabled>
          </div>
          <!--          <br>-->
          <!--          <label for="medicalCenter">Centro Médico</label>-->
          <!--          <select class="form-control" id="medicalCenter">-->
          <!--            <option>1</option>-->
          <!--            <option>2</option>-->
          <!--          </select>-->
        </div>

      </div>
    </div>

    <br>
    <div class="containerC">
      <div class="containerR">

<!--        <a href="http://localhost:4200/doctor">-->
          <a (click)="navigateTo('/doctor')" style="cursor: pointer">
          <button type="button" class="btn btn-danger" style="margin-right: 2vw">Volver</button>
        </a>

<!--        <a href="http://localhost:4200/doctor/edit/{{doctor.id}}">-->
          <a (click)="navigateTo('/doctor/edit/'+doctor.id)" style="cursor: pointer">
          <button type="button" class="btn btn-dark">Editar</button>
        </a>
      </div>
    </div>

  </form>


  </body>
</main>
