<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!-- Fuentes de Google Fonts -->
<link href="//fonts.googleapis.com/css?family=Lobster:400" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
<!-- Fin Fuentes de Google Fonts -->

<!-- Hack Para Desplegar el Menú activando un checkbox -->
<input type="checkbox" class="checkbox" id="menu-toogle"/>
<label for="menu-toogle" class="menu-toogle"></label>
<nav class="navmio">
  <a *ngIf="this._authService.esAdmin" (click)="navigateTo('/medicalCenter')"  class="navmio__item" style="color: white; cursor: pointer">Centro Médico</a>
  <a *ngIf="this._authService.esAdmin" (click)="navigateTo('/doctor')" class="navmio__item" style="color: white; cursor: pointer">Personal</a>
  <a (click)="navigateTo('/patient')" class="navmio__item" style="color: white; cursor: pointer">Pacientes</a>
  <a (click)="navigateTo('/consultationRecordatorio')" class="navmio__item" style="color: white; cursor: pointer">Recordatorio de Consultas</a>
  <a (click)="navigateTo('/consultation')" class="navmio__item" style="color: white; cursor: pointer">Bitácora de Consultas</a>
  <a *ngIf="this._authService.esAdmin" (click)="navigateTo('/imagesIshihara')" class="navmio__item" style="color: white; cursor: pointer"> Ishihara</a>
  <a *ngIf="this._authService.esAdmin" (click)="navigateTo('/user')" class="navmio__item current" style="color: white; cursor: pointer">Usuarios</a>
  <a (click)="navigateTo('/profile')" class="navmio__item " style="color: white; cursor: pointer">Mi perfil</a>
  <a (click)="navigateTo('/login')" class="navmio__item" style="color: white; cursor: pointer">Cerrar Sesión</a>
</nav>


<main class="main-w">
  <body>

  <div style="display: flex; flex-direction: row-reverse">
    <div style="justify-content: flex-end; padding-right: 20px;
  padding-top: 5px;  font-family:Lobster; font-size: 20px">
      <img src="assets/img/user.png" alt="" height="20">
      {{_authService.userName}}</div>
  </div>

  <div class="containerR">
    <div class="containerC" >
      <h1 class="header-w__title">Recordatorio de Consultas Pendientes</h1>
    </div>

    <div class="containerC" >
      <div class="containerCbutton header-w__titlenofont" >
        <!--  <div class="containerR header-w__titlenofont">-->
        <a title="Registrar una nueva consulta" (click)="navigateTo('consultation/new')" style="cursor: pointer;margin-right: 30px">
          <button  type="button" class="btn btn-dark" >Nueva Consulta</button>
        </a>

        <input type="input" class="form-control"
               id="buscar"
               title="Escriba lo que desea buscar"
               name="buscar"
               placeholder="Buscar por día, mes, año o detalle"
               required
               [(ngModel)]="buscar"
               (change)="printear()"
               style="margin-right: 10px"
        >
        <a title="Presione aquí o ENTER para buscar" (click)="printear()" style="cursor: pointer">
          <img src="assets/img/buscar.png" height="30" width="30" >
        </a>

        <!--  </div>-->
      </div>
    </div>
  </div>

  <br>
  <div class="padding">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Código</th>
        <th scope="col">Fecha</th>
        <th scope="col">Paciente</th>
        <th scope="col">Doctor</th>
        <th scope="col">Estado</th>
        <th scope="col">Detalle</th>
        <th scope="col">Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let consultation of arrayOfConsultations">

        <th *ngIf="consultation.status == 'Pendiente'" style="background-color: yellow" scope="row">CN{{consultation.id}}</th>
        <td *ngIf="consultation.status == 'Pendiente'" >{{consultation.date}} - {{consultation.time}}</td>
        <td *ngIf="consultation.status == 'Pendiente'" >
          {{consultation.patient.name}}
          <a title="Abrir historia clínica de {{consultation.patient.id}}" (click)="navigateTo('/medicalRecord/patient/'+consultation.patient.id)"
             style="cursor: pointer; padding-left: 10px">
            <img src="assets/img/medicalrecord.png" height="25" width="25">
          </a>
        </td>

        <td *ngIf="consultation.status == 'Pendiente'" >{{consultation.doctor.name}}</td>
        <td *ngIf="consultation.status == 'Pendiente'" style="background-color: yellow" >{{consultation.status}}</td>
        <td *ngIf="consultation.status == 'Pendiente'" style="max-width: 20vw">{{consultation.detail}}</td>
        <td *ngIf="consultation.status == 'Pendiente'" >
          <!--            <a  href="http://localhost:4200/consultation/view/{{consultation.id}}">-->
          <!--            <a (click)="navigateTo('/consultation/view/'+consultation.id)" style="cursor: pointer">-->
          <!--            <img src="assets/img/ver.png" height="22" width="22" style="margin-right: 10px">-->
          <!--            </a>-->
          <!--            <a href="http://localhost:4200/consultation/edit/{{consultation.id}}">-->
          <a title="Editar Consulta" (click)="navigateTo('/consultation/edit/'+consultation.id)"
             style="cursor: pointer; padding-right: 10px">
            <img src="assets/img/dibujar.png" height="18" width="18">
          </a>

          <a title="Finalizar Consulta" (click)="FinalizarConsultation(consultation.id)"
             style="cursor: pointer; padding-right: 10px">
            <img src="assets/img/habilitar.png" height="20" width="20" >
          </a>

          <a title="Cancelar Consulta Consulta" (click)="CancelarConsultation(consultation.id)"
             style="cursor: pointer; padding-right: 10px">
          <img src="assets/img/deshabilitar.png" height="18" width="18" >
          </a>

          <a title="Eliminar Consulta" (click)="deleteConsultation(consultation.id)" style="cursor: pointer">
            <img src="assets/img/eliminar.png" height="20" width="20" >
          </a>

        </td>


      </tr>
      </tbody>
    </table>
  </div>


  </body>


</main>
