<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!-- Fuentes de Google Fonts -->
<link href="//fonts.googleapis.com/css?family=Lobster:400" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
<!-- Fin Fuentes de Google Fonts -->

<!-- Hack Para Desplegar el Menú activando un checkbox -->
<input type="checkbox" class="checkbox" id="menu-toogle"/>
<label for="menu-toogle" class="menu-toogle"></label>
<nav class="navmio">
  <a *ngIf="this._authService.esAdmin" (click)="navigateTo('/medicalCenter')"  class="navmio__item" style="color: white; cursor: pointer">Centro Médico</a>
  <a *ngIf="this._authService.esAdmin" (click)="navigateTo('/doctor')" class="navmio__item" style="color: white; cursor: pointer">Personal</a>
  <a (click)="navigateTo('/patient')" class="navmio__item" style="color: white; cursor: pointer">Pacientes</a>
  <a (click)="navigateTo('/consultationRecordatorio')" class="navmio__item" style="color: white; cursor: pointer">Recordatorio de Consultas</a>
<a (click)="navigateTo('/consultation')" class="navmio__item" style="color: white; cursor: pointer">Bitácora de Consultas</a>
  <a *ngIf="this._authService.esAdmin" (click)="navigateTo('/imagesIshihara')" class="navmio__item" style="color: white; cursor: pointer"> Ishihara</a>
  <a *ngIf="this._authService.esAdmin" (click)="navigateTo('/user')" class="navmio__item current" style="color: white; cursor: pointer">Usuarios</a>
  <a (click)="navigateTo('/profile')" class="navmio__item " style="color: white; cursor: pointer">Mi perfil</a>
  <a (click)="navigateTo('/login')" class="navmio__item" style="color: white; cursor: pointer">Cerrar Sesión</a>
</nav>

<main class="main-w">
  <body>

  <div style="display: flex; flex-direction: row-reverse">
    <div style="justify-content: flex-end; padding-right: 20px;
  padding-top: 5px;  font-family:Lobster; font-size: 20px">
      <img src="assets/img/user.png" alt="" height="20">
      {{_authService.userName}}</div>
  </div>

  <div class="containerR">
        <div class="containerC" >
<!--          <h1 class="header-w__title">Patients</h1>-->
          <h1 class="header-w__title">Pacientes</h1>
        </div>

        <div class="containerC" >
          <div class="containerCbutton header-w__titlenofont" >
            <!--  <div class="containerR header-w__titlenofont">-->
<!--            <a href="http://localhost:4200/patient/new">-->
              <a (click)="navigateTo('/patient/new')" style="cursor: pointer;margin-right: 30px">
                <button title="Registrar un nuevo paciente" type="button" class="btn btn-dark" >
                  Nuevo Paciente
<!--                  New Patient-->
                </button>
              </a>

            <input type="input" class="form-control"
                   id="buscar"
                   name="buscar"
                   title="Escriba lo que desea buscar"
                   placeholder="Buscar..."
                   required
                   [(ngModel)]="buscar"
                   (change)="printear()"
                   style="margin-right: 10px"
            >
            <a title="Presione aquí o la tecla ENTER para buscar" (click)="printear()" style="cursor: pointer">
              <img src="assets/img/buscar.png" height="30" width="30" >
            </a>


            <!--  </div>-->
          </div>
        </div>

      </div>
      <br>


      <div class="padding">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Código</th>
          <th *ngIf="this._authService.esSuperAdmin" scope="col">Centro Médico</th>
          <th scope="col">Nombre</th>
          <th scope="col">Identificación</th>
          <th scope="col">Género</th>
          <th scope="col">Fecha de nacimiento</th>
          <th scope="col">Teléfono</th>
          <th scope="col">Correo</th>
          <th scope="col">Dirección</th>
          <th scope="col">Ocupación</th>
          <th scope="col">Acciones</th>
<!--          <th scope="col">Code</th>-->
<!--          <th *ngIf="this._authService.esSuperAdmin" scope="col">Medical Center</th>-->
<!--          <th scope="col">Name</th>-->
<!--          <th scope="col">Id</th>-->
<!--          <th scope="col">Gender</th>-->
<!--          <th scope="col">Date of birth</th>-->
<!--          <th scope="col">Phone</th>-->
<!--          <th scope="col">Email</th>-->
<!--          <th scope="col">Address</th>-->
<!--          <th scope="col">Occupation</th>-->
<!--          <th scope="col">Actions</th>-->
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let patient of arrayOfPatient">
          <th scope="row">PCT{{patient.id}}</th>
          <td *ngIf="this._authService.esSuperAdmin">
            CM{{patient.medicalCenter['id']}} {{patient.medicalCenter['name']}}
          </td>
          <td>{{patient.name}}</td>
          <td>{{patient.identification}}</td>
          <td>{{patient.gender}}</td>
          <td>{{patient.date_of_birth}}</td>
          <td>{{patient.phone}}</td>
          <td>{{patient.email}}</td>
          <td>{{patient.address}}</td>
          <td>{{patient.occupation}}</td>
          <td>

<!--            <a href="http://localhost:4200/patient/view/{{patient.id}}">-->
              <a title="Ver la historia clínica" (click)="navigateTo('/medicalRecord/patient/'+patient.id)" style="cursor: pointer">
              <img src="assets/img/medicalrecord.png" height="25" width="25" style="margin-right: 10px">
            </a>

<!--            <a href="http://localhost:4200/patient/edit/{{patient.id}}">-->
              <a title="Editar la información del paciente" (click)="navigateTo('/patient/edit/'+patient.id)" style="cursor: pointer">
              <img src="assets/img/dibujar.png" height="20" width="20" style="margin-right: 10px">
            </a>

            <a title="Eliminar al paciente" (click)="deletePatient(patient.id, patient.name)" style="cursor: pointer">
              <img *ngIf="this._authService.esAdmin" src="assets/img/eliminar.png" height="20" width="20" >
            </a>

          </td>
        </tr>
        </tbody>
      </table>
      </div>

  </body>


</main>
