<div class="body">
</div>
<!--<div class="grad"></div>-->

<div class="header" >
<!--  <div><span>Sion</span>Dal</div>-->
  <img src="assets/img/logotesis.png" height="170" >

<!--  width="30"-->
</div>
<br>



<form #formularioConsulta="ngForm" >

<div class="login">
  <h3>Ingrese su usuario y contraseña </h3>
  <input type="text" placeholder="Ingrese su email" name="username"
         [(ngModel)]="emailModelo" style="font-size: 18px"><br>
  <input type="password" placeholder="Ingrese su contraseña" name="password"
         [(ngModel)]="passwordModelo" style="font-size: 18px"><br>

  <div *ngIf="mostrarMensaje">
    <br>
    <label style="color: red; font-family: 'Lato', sans-serif; font-size: 17px">Usuario o contraseña incorrectos</label>
    <br>
  </div>


  <input type="button" value="Iniciar sesión" (click)="revisarLogin()" style="font-size: 18px">
  <input type="button" value="Olvidé mi contraseña" (click)="navigateTo('/reset-password')" style="font-size: 18px">
<!--  <a href="/home"><h1>Ver home</h1></a>-->
</div>
</form>
